---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import CategoryNav from "../components/CategoryNav.astro";
import ProductSection from "../components/ProductSection.astro";
import PracticalInfo from "../components/PracticalInfo.astro";
import ContactCTA from "../components/ContactCTA.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <main>
    <Hero />
    <CategoryNav />
    <ProductSection id="snacks" title="Snacks" />
    <ProductSection id="softs" title="Softs" />
    <ProductSection id="alcools" title="Alcools" />
    <ProductSection id="puff-cbd" title="Puff & CBD" />
    <ProductSection id="tabac" title="Tabac & Accessoires" />
    <PracticalInfo />
    <ContactCTA />
  </main>
  <Footer />
</Layout>
